*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1248px;
    width: 100%;
    padding: 0 18px;
    margin: 0 auto;
}
 /* body{
     min-height:900vh;
 } */
button{
    cursor: pointer;
}
li{
    list-style: none;
}

.hero{
    padding: 120px  0 170px 0; 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-items: center;
    gap: 80px;
}







.bag__title{
    margin-top: 100px;
    color: rgba(0, 0, 255, 0.764);
    font-size: 48px;
    font-weight:700;
}

.bag__text{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
}

.bag__item{
    text-align: center;
    width: 80%;
}

.bag{
    width: calc(50% - 60px);
}

.box{
    width: 430px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgb(234, 234, 234);
}


.inp{
    width: 100%;
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
    padding:  5px 10px;
    border: 1px solid gainsboro;
    outline: none;
margin-bottom: 15px;
transition: .9s;
}
.inp:hover{
    border: 2px solid blue;
}
.bag__btn{
    width: 100%;
    height: 55px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 700;
    color: white;
    background-color: rgb(59, 59, 252);
    border: none;
    transition: .9s;
}
.bag__btn:hover{
    background-color: rgba(59, 59, 252, 0.877);

}

.bag__itm{
text-align: center;
margin: 20px 0;    
color: rgb(44, 44, 253);
font-size: 16px;
}
.bag__bun{
    text-align: center;
    border: none;
    height: 55px;
    border-radius: 8px;
    color: white;
    background-color: green;
        font-size: 20px;
    font-weight: 500;
    width: 65%;
    margin: auto;
}

.hr{
margin-bottom: 20px;
}



.footer{
    width: 100%;
    margin-top: 30px;
font-size: 14px;
    color: gray;
    font-weight: 400;
    background-color: white;
    padding: 30px 0;
}


.footer__hr{
    margin: 20px 0;
}


.footer__btn{
    padding: 0 5px;
    font-size: 15px;
    font-weight: 600;
}




.home{
    text-align: center;
    justify-content: center;
}

.home__title{
    color: rgba(0, 0, 255, 0.764);
    font-size: 48px;
    font-weight:700;
    margin-bottom: 10px;
}


.room{
    border-radius: 10px;
    border: 2px solid #ddddddcc;
    margin: auto;
    width: 35%;
    height: 660px;
    background-color: white;
    padding: 10px;
}

.room__title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.input__bag{
    display: flex;
   gap: 32px;
}
.input{
    height: 40px;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 48%;
    outline: none;
}

.int{
    width: 100%;
    height: 40px;
    border-radius:5px;
    outline: none;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 0 15px;
}

.gender{
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    width: 45%;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
}


.room__btn{
    padding: 10px;
    border: none;
    width: 80%;
    font-size: 22px;
    font-weight: 700;
    color: white;
    background-color: rgb(4, 189, 4);
    border-radius: 10px;
}










@media ( max-width:850px){
    .hero{
        padding: 0;
flex-direction: column;
    }
    .bag{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .box{
        width: 100%;
    }

}




@media ( max-width:400px){
 
    .bag__bun{
font-size: 16px;
}
}



